MODE=mock
AWS_REGION=eu-west-1
BEDROCK_MODEL_ID=anthropic.claude-3-haiku-20240307-v1:0
BEDROCK_EMBED_MODEL_ID=amazon.titan-embed-text-v2:0
# console OpenSearch Serverless > Collections > endpoint
OPENSEARCH_ENDPOINT=
OPENSEARCH_INDEX=kb-index
# console S3 > Buckets > nom du bucket d'ingestion
S3_BUCKET_DOCS=
# console Cognito > User Pools > Id de la pool
COGNITO_USER_POOL_ID=
# console Cognito > User Pools > App integration > App client list > Client ID
COGNITO_CLIENT_ID=
# API Gateway Endpoint
API_BASE_URL=
COHERE_API_KEY=
